* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#products .row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
} 

@media(max-width: 900px) {
    #products .row {
        flex-direction: column;
    }
}
 
#products {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

#products .products-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

#products .products-col img {
    width: 100%;
    display: block;
}

#products .layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .9s;
}

#products .layer:hover {
    background: rgba(226,0,0,0.7);
}

#products .layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 1.7rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: .5s;
}

#products .layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}