* {box-sizing: border-box}

/* img-slider */

#img-slider .mySlides {display: none}

#img-slider .mySlides img {
    vertical-align: middle;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#img-slider .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin:20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#img-slider .prev, #img-slider .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width:auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius:10px;
  user-select: none;
}
#img-slider .next {
  right: 0;
  border-radius: 10px;
}
#img-slider .prev:hover, #img-slider .next:hover {
  background-color: rgba(0,0,0,0.8);
}
#img-slider .dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #202124;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#img-slider .active, #img-slider .dot:hover {
  background-color: #667192;
}
#img-slider .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
  #img-slider .prev, #img-slider .next, #img-slider .text {font-size: 11px}
}
#img-slider .credit{
    text-align: center;
    color: #202124;
    padding-top:15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* end img-slider */